
body {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
  }

h4, h5, h6 {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: 400;
  }

  h1, h2, h3 {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: 700;
  }

  #fh5co-header #navbar li a {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: 400;
  }

  #fh5co-header.navbar-fixed-top .navbar-brand {
        filter: brightness(0.5) sepia(1) hue-rotate(110deg) saturate(3);
  }

  #fh5co-header .navbar-brand {
    
  }